.tosca{
  color: #20c996e7 !important;
}

.logo{
  font-weight: 520;
}

.header{
  background-image: url("assets/img/unnamed.jpg");
  color: rgba(32, 201, 150, 0.521);
}

.header h2{
  color: #292929;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
}
a {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 8px;
  margin-left: 8px;
  transition: transform .3s ease-in;
  
} 
button{
  background: #20c997 !important;
  border-color: #20c997 !important;
  color: #ffffff !important;
}
a:hover{
  transform: scale(1.1);
  text-decoration: none;

}
.landing-page button{
  background: #fff !important;
  border-color: #fff !important;
  color: #20c997 !important;
}
.clean-block.clean-form form {
  border-top-color: #20c997 !important;
}
.page-footer h5{
  color: rgb(32,201,151) !important;
}
.page-footer p{
  color: #ffffff;
}
.page-footer.alamat{
  font-size: 17px !important;
}
.card:hover{
  text-decoration: none;
  transform:scale(1.2,1.2);
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
}
.page .text h2{
  font-size: 2rem;
  text-shadow: 0 1px 1px #313131;
}
.page .text h2::after{
  content: "Solusi Kebutuhan Komputer Anda";
  animation: textanim 5s linear infinite;
}
@keyframes textanim{
  50%{
    content: "Menyediakan komponen terlengkap";
  }
  75%{
    content: "Kualitas yang terjamin mutunya";
  }
}
#mibe{
  position: relative;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: 0;
  
}
#mibe .col-lg-4{
  position: relative;
  background: #ffffff;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  height: 320px;
  max-width: 100%;

}
#mibe .col-lg-4:before{
  content:'';
  position: absolute;
  top: 30px;
  left: 10px;
  right: 10px;
  bottom: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  z-index: 3;
}
#mibe .col-lg-4:hover:before{
  transform: scaleX(1);
  opacity: 1;
}
#mibe .col-lg-4:after{
  content:'';
  position: absolute;
  top: 30px;
  left: 10px;
  right: 10px;
  bottom: 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 3;
  padding: 10px 0;
}
#mibe .col-lg-4:hover:after{
  transform: scaleY(1);
  opacity: 1;
}
#mibe .col-lg-4 .box{
  position: relative;
}
#mibe .col-lg-4 .box img{
  transition: 0.5s;
  max-width: 100%;
}
#mibe .col-lg-4:hover img{
  opacity: 2;
}
#mibe .col-lg-4 .content{
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 20%;
  text-align: center;
}
#mibe .col-lg-4 .content h2{
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translate(-50px);
  opacity: 0;
  visibility: hidden;
}
#mibe .col-lg-4 .content p{
  font-size: 5%;
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
#mibe .col-lg-4:hover .content h2,
#mibe .col-lg-4:hover .content p{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: 0.2s;
}
.judul img{
  margin-top: 15px;
  margin-left: 10px;
}
.judul h1{
  color: #20c997;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  margin-top: 5px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  transition: transform .1s ease-in;
}
.judul h1:hover{
  transform: scale(1.1);
  text-decoration: none;
}
#mibe .col-lg-4{
  padding: 20px 0 ;


}